<!DOCTYPE html>
{# Import the theme's layout. #}
{% include "lgplv3.html" %}
{% extends "!layout.html" %}

{# Add metadata to show up in Discord embeds #}
{% block extrahead %}
    <link rel="shortcut icon" type="image/png" href="https://assets.gitlab-static.net/uploads/-/system/project/avatar/12050696/Hikari-Logo_1.png"/>
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://assets.gitlab-static.net/uploads/-/system/project/avatar/12050696/Hikari-Logo_1.png" />
    <meta property="og:description" content="A sane Discord Bot framework for modern Python and asyncio." />
    <meta property="theme-color" content="#ff029a" />
    {{ super() }}
    <script>
        if (typeof(snowStorm) !== "undefined") {
            console.log("snowing");
            snowStorm.useTwinkleEffect = true;
            snowStorm.animationInterval = 50;
            snowStorm.flakesMaxActive = 30;
        }
    </script>
{% endblock %}

{# Don't add a footer #}
{% block footer %}
{% endblock %}
